*{
/**
margin-top: 0pt;
margin-bottom: 0pt;
margin-right: 0pt;
margin-left: 0pt;**/
margin: 0pt;
}
.mt{
    margin-top: 50pt;
}
.mb{
    margin-bottom: 50pt;
}
.mr{
    margin-right: 50pt;
}
.ml{
    margin-left: 50pt;
}
body{
    background-color: skyblue; color: white;
}
.romola{
    background-color: navy;color: white;
    /**
    padding-top:40px;
    padding-bottom:40px;
    padding-right:40px;
    padding-left:40px;**/
    padding: 20px;
    width: 730px;
}
.rl{
    background-color: pink;color: black;
    /**
    padding-top:40px;
    padding-bottom:40px;
    padding-right:40px;
    padding-left:40px;**/
    padding: 20px;
    width: 730px;
}
.image-log{
    width:20%;

}
#img-place{
    height:50% ;
}
